<!-- include header -->
<%-include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update user</h2>
            <span class="text-light">Use the below form to update an account</span>
        </div>
        <!-- form handeling -->
        <form onsubmit="return validate()" method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="<%= users.id %>">
                    <input type="text" name="name" value="<%= users.name %>" placeholder="Mark Stoenis">
                </div>
                
                <div class="form-group">
                    <label for="emp_num" class="text-light">Employee Number</label>
                    <input type="text" name="emp_num" value="<%= users.emp_num %>" placeholder="Enter the address">
                </div>

                <div class="form-group">
                    <!-- <label for="current-distance" class="text-light">Current Distance in km</label> -->
                    <input type="hidden" name="att" readonly value=<%= users.att %>>
                    <label for="att" class="update">Attendance</label>
                    <input type="text" name="att_update" value="0" id="att_update">
                </div>
                

                <div class="form-group">
                    <!-- <label for="current-distance" class="text-light">Current Distance in km</label> -->
                    <input type="hidden" name="distance" readonly value=<%= users.distance %>>
                    <label for="current-distance" class="update">Distance (km)</label>
                    <input type="text" name="distance_update" value="0" id="dis_update">
                </div>
                
                <div class="form-group">
                    <!-- <label for="turns" class="text-light">Current Number of Turns</label> -->
                    <input type="hidden" name="turns" readonly value=<%= users.turns %>>
                    <label for="turns" class="update">Turns</label>
                    <input type="text" name="turns_update" value="0" id="turns_update">
                </div>

                <div class="form-group">
                    <!-- <label for="accidents" class="text-light">Current Number of Accidents</label> -->
                    <input type="hidden" name="accidents" readonly value=<%= users.accidents %>>
                    <label for="accidents" class="update">Accidents</label>
                    <input type="text" name="accidents_update" value="0" id="acc_update">
                </div>
                <div class="form-group">
                    <!-- <label for="accidents" class="text-light">Current Number of Accidents</label> -->
                    <input type="hidden" name="running_repair" readonly value=<%= users.running_repair %>>
                    <label for="running_repair" class="update">Running Repairs</label>
                    <input type="text" name="running_repair_update" value="0" id="running_repair_update">
                </div>
                <div class="form-group">
                    <!-- <label for="accidents" class="text-light">Current Number of Accidents</label> -->
                    <input type="hidden" name="customer_complains" readonly value=<%= users.customer_complains %>>
                    <label for="customer_complains" class="update">Customer Complains</label>
                    <input type="text" name="customer_complains_update" value="0" id="customer_complains_update">
                </div>
                <div class="form-group clearfix">
                    <!-- <label for="accidents" class="text-light">Current Number of Accidents</label> -->
                    <input type="hidden" name="disciplinary_actions" readonly value=<%= users.disciplinary_actions %>>
                    <label for="disciplinary_actions" class="update">Disciplinary Actions</label>
                    <input type="text" name="disciplinary_actions_update" value="0" id="disciplinary_actions_update">
                </div>

                <div class="form-group-speed clearfix">
                    <!-- <label for="accidents" class="text-light">Current Number of Accidents</label> -->
                    <input type="hidden" name="avgspeed" readonly value=<%= users.avgspeed %>>
                    <label for="avgspeed" class="update">Average Speed (km/h)</label><br>
                    <input type="text" name="avgspeed_update_1" value="0" id="avgspeed_update_1">
                    <input type="text" name="avgspeed_update_2" value="0" id="avgspeed_update_2">
                </div>

                <div class="form-group clearfix">
                    <!-- <label for="accidents" class="text-light">Current Number of Accidents</label> -->
                    <input type="hidden" name="fuel" readonly value=<%= users.fuel %>>
                    <label for="fuel" class="update">Fuel Usage</label>
                    <input type="text" name="fuel_update" value="0" id="fuel_update">
                </div>

                <div class="form-group">
                    <label for="mob_num" class="text-light">Mobile Number</label>
                    <input type="text" name="mob_num" value="<%= users.mob_num %>" placeholder="Enter the address">
                </div>
                
                <div class="form-group">
                    <label for="Address" class="text-light">Address</label>
                    <input type="text" name="address" value="<%= users.address %>" placeholder="Enter the address">
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn text-dark update" id="savebutton">Save</button>
                </div>
            </div>
        </form>
        <!-- /form handeling -->
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%-include('include/_footer') %>
<!-- /include footer -->
