<% for(var i =0; i < users.length; i++){ %>

<tr>
    <td><%= i+1 %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].emp_num %></td>
    <td><%= users[i].att %></td>
    <td><%= users[i].distance %> km</td>
    <td><%= users[i].turns %></td>
    <td><%= users[i].accidents %></td>
    <td><%= users[i].running_repair %></td>
    <td><%= users[i].customer_complains %></td>
    <td><%= users[i].disciplinary_actions %></td>
    <td><%= users[i].avgspeed_show %>km/h</td>
    <td><%= users[i].fuel %></td>
    <td>
        <a href="/update-user?id=<%= users[i]._id %>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id = <%= users[i]._id %>>
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>