

    <tr class="first">
        <td>1</td>
        <td><%= users[0].name %></td>
        <td><%= users[0].emp_num %></td>
        <td><%= users[0].att %></td>
        <td><%= users[0].distance %> km</td>
        <td><%= users[0].turns %></td>
        <td><%= users[0].accidents %></td>
        <td><%= users[0].running_repair %></td>
        <td><%= users[0].customer_complains %></td>
        <td><%= users[0].disciplinary_actions %></td>
        <td><%= users[0].avgspeed_show %>km/h</td>
        <td><%= users[0].fuel %></td>
        <td>
            <a href="/update-user?id=<%= users[0]._id %>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id = <%= users[0]._id %>>
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>




<% for(var i =1; i < users.length; i++){ %>

<tr>
    <td><%= i+1 %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].emp_num %></td>
    <td><%= users[i].att %></td>
    <td><%= users[i].distance %> km</td>
    <td><%= users[i].turns %></td>
    <td><%= users[i].accidents %></td>
    <td><%= users[i].running_repair %></td>
    <td><%= users[i].customer_complains %></td>
    <td><%= users[i].disciplinary_actions %></td>
    <td><%= users[i].avgspeed_show %>km/h</td>
    <td><%= users[i].fuel %></td>
    <td>
        <a href="/update-user?id=<%= users[i]._id %>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id = <%= users[i]._id %>>
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>